/* themes.css */

:root {
  --color-primary: #34d399; /* Green - Default */
  --color-secondary: #fbbf24; /* Yellow - Optional Accent */
  --bg-color: #ffffff;
  --text-color: #111827;
}

[data-theme="pastell"] {
  --color-primary: #a78bfa; /* Lila Pastell */
  --color-secondary: #f9a8d4; /* Rosa */
  --bg-color: #fef2f2;
  --text-color: #1f2937;
}

[data-theme="classic"] {
  --color-primary: #34d399; /* Grün */
  --color-secondary: #3b82f6; /* Blau */
  --bg-color: #ffffff;
  --text-color: #111827;
}

/* Global styles using variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button,
a {
  color: var(--color-primary);
}

button:hover {
  background-color: var(--color-primary);
  color: #fff;
}